.box-loader {
    background: url('image/line-loader.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(226, 178, 248, .13);
    z-index: 1000;
}
